.wg-BreakSuggestion {
  & {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .label {
    background: #df8080;
    min-width: 40px;
    text-align: center;
    padding: 5px 8px;
  }
  .action {
    display: flex;
  }
  .action button {
    background: #bc6969;
    width: 35px;
    font-weight: bold;
    color: #4d3838;
    border: 0;
    border-left: 1px solid #ffffff36;
  }
  .item {
    display: flex;
    border-radius: 0.8em;
    overflow: hidden;
  }
}


.wg-Windog {
    &::backdrop {
      background: rgba(0, 0, 0, 0.4);
    }
    & {
      padding: 0;
      background: transparent;
    }
    .wrapper {
      background: white;
      position: relative;
      padding: 1rem;
    }
    .backdrop {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
    button:focus {
      border-color: #4CAF50;
      box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
    }
  }